//Add your styles into this file
@use "sass:selector";

::-webkit-scrollbar {
  display: none;
}

//---------------------------------------------- FONT STYLES ----------------------------------------------//
// Font Size 
//Maybe you can use this styles ot maybe you want to modifu the bootstrap values

//---------------------------------------------- FONT STYLES (END) ----------------------------------------//
//---------------------------------------------- BACKGROUND ----------------------------------------------//

//---------------------------------------------- BACKGROUND (END) ----------------------------------------//
//---------------------------------------------- BUTTONS ----------------------------------------------//
.btn-primary {
  --bs-btn-color: #{$light};
  --bs-btn-hover-color: #{$dark};
}

.btn-accent {
  --bs-btn-color: #{$light};
  --bs-btn-hover-color: #{$dark};
}

//---------------------------------------------- BUTTONS (END) ----------------------------------------//
//---------------------------------------------- FORMS ----------------------------------------------//

//---------------------------------------------- FORMS (END) ----------------------------------------//
//---------------------------------------------- ICONS ----------------------------------------------//
//You can make your own icons in https: //icomoon.io/app/#/select
.moo {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


//---------------------------------------------- ICONS (END) ----------------------------------------//
//---------------------------------------------- IMAGES ----------------------------------------------//

//---------------------------------------------- IMAGES (END) ----------------------------------------//
//---------------------------------------------- MODAL ----------------------------------------------//

//---------------------------------------------- MODAL (END) ----------------------------------------//
//---------------------------------------------- NAVBAR ----------------------------------------------//
.navbar-toggler {
  border: none;

  &:focus {
    box-shadow: none !important;
  }
}

//---------------------------------------------- NAVBAR (END) ----------------------------------------//
//---------------------------------------------- OTHER ----------------------------------------------//
@each $color,
$value in $theme-colors {
  a.underline-#{$color} {
    @include hover-underline(fade, 'center', 2px, $color: $value)
  }
}

.social-link {
  transition: transform 600ms ease;

  &:hover {
    transform: scale(-1, 2);
  }
}

section {

  p,
  ul,
  ol {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  h2,
  h3,
  h4 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .project {

    transition: transform 900ms ease-in-out;
    p,
    ul,
    ol {
      height: 200px;
    }

    p.read-more {
      height: 50px;
    }
  
    h2,
    h3,
    h4 {
      height: 75px;
    }
    
    .tags {
      height: 50px;
    }

    &:hover {
      transform: scale(1.1);
    }

  }
}


//---------------------------------------------- OTHER (END) ----------------------------------------//