// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/assets/bootstrap5/_variables.scss, paste it here and edit the value.

@use "sass:map";

//Your custom colors
/* $primary:#89F7F6;
$secondary:#F69A71;
$success:#FEFCFF;
$info:#656476;
$danger:#2C293C; */
$success:       #51ad74;//Aqua Forest
$danger:        #f44336;//Pomegranate
$warning:       #ce9d3c;//Old Gold

/* $primary:       #5ba7c7;//Main brand color - FOUNTAIN BLUE
$secondary:     #877068;//Light accent - SAND DUNE
$info:          #A44073;//Dark accent - ROUGE
$light:         #E0DFDE;//Light shades - ALTO
$dark:          #131885;//Dark shades - GOVERNOR BAY */

/* 
$light: #;
$secondary: #;
$primary: #;
$info: #;
$dark: #; 
*/

$light: #DECCDA;
$secondary: #37BBCD;
$primary: #078079;
$info: #5D6757;
$dark: #1A161C;
// scss-docs-start custom-colors-map
$custom-colors: (
    "primary":      $primary,
    "secondary":    $secondary,
    "success":      $success,
    "info":         $info,
    "warning":      $warning,
    "danger":       $danger,
    "light":        $light,
    "dark":         $dark,
);

// scss-docs-end theme-colors-map

$enable-shadows: true;

$top-bottom-inset:inset 0px -20px 15px -3px rgba($dark,0.1),inset 0px 20px 20px -3px rgba($dark,0.1);

$shadows: (    
    'left-offcanvas': inset 0px 0px 50px rgba($dark, 0.5),
    'right-offcanvas': inset -50px 0px 50px 0px rgba($dark, 0.5),
    'y-inset': $top-bottom-inset,
    'bottom': 0px 10px 25px 10px rgba($dark,0.1),
    'regular': 0 .5rem 1rem rgba($dark, .5),
    none: none,
);

$enable-gradients: true;

$gradient-center-primary: linear-gradient(transparent, $primary 50%, transparent);
$cross-dots-info: radial-gradient($info 2px, transparent 2px), radial-gradient($info 2px, transparent 2px);
$pattern-jupiter: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='52' height='52' viewBox='0 0 52 52'%3E%3Cpath fill='%23ffffff' fill-opacity='0.5' d='M0 17.83V0h17.83a3 3 0 0 1-5.66 2H5.9A5 5 0 0 1 2 5.9v6.27a3 3 0 0 1-2 5.66zm0 18.34a3 3 0 0 1 2 5.66v6.27A5 5 0 0 1 5.9 52h6.27a3 3 0 0 1 5.66 0H0V36.17zM36.17 52a3 3 0 0 1 5.66 0h6.27a5 5 0 0 1 3.9-3.9v-6.27a3 3 0 0 1 0-5.66V52H36.17zM0 31.93v-9.78a5 5 0 0 1 3.8.72l4.43-4.43a3 3 0 1 1 1.42 1.41L5.2 24.28a5 5 0 0 1 0 5.52l4.44 4.43a3 3 0 1 1-1.42 1.42L3.8 31.2a5 5 0 0 1-3.8.72zm52-14.1a3 3 0 0 1 0-5.66V5.9A5 5 0 0 1 48.1 2h-6.27a3 3 0 0 1-5.66-2H52v17.83zm0 14.1a4.97 4.97 0 0 1-1.72-.72l-4.43 4.44a3 3 0 1 1-1.41-1.42l4.43-4.43a5 5 0 0 1 0-5.52l-4.43-4.43a3 3 0 1 1 1.41-1.41l4.43 4.43c.53-.35 1.12-.6 1.72-.72v9.78zM22.15 0h9.78a5 5 0 0 1-.72 3.8l4.44 4.43a3 3 0 1 1-1.42 1.42L29.8 5.2a5 5 0 0 1-5.52 0l-4.43 4.44a3 3 0 1 1-1.41-1.42l4.43-4.43a5 5 0 0 1-.72-3.8zm0 52c.13-.6.37-1.19.72-1.72l-4.43-4.43a3 3 0 1 1 1.41-1.41l4.43 4.43a5 5 0 0 1 5.52 0l4.43-4.43a3 3 0 1 1 1.42 1.41l-4.44 4.43c.36.53.6 1.12.72 1.72h-9.78zm9.75-24a5 5 0 0 1-3.9 3.9v6.27a3 3 0 1 1-2 0V31.9a5 5 0 0 1-3.9-3.9h-6.27a3 3 0 1 1 0-2h6.27a5 5 0 0 1 3.9-3.9v-6.27a3 3 0 1 1 2 0v6.27a5 5 0 0 1 3.9 3.9h6.27a3 3 0 1 1 0 2H31.9z'%3E%3C/path%3E%3C/svg%3E");

$gradients: (
    'gradient-center-primary': $gradient-center-primary,
    'cross-dots-info': $cross-dots-info,
    'pattern-jupiter': $pattern-jupiter,
);

$enable-negative-margins: true;

$spacer-vw: 1vw;
$spacers-vw: (
    auto:auto,
    try: $spacer-vw * 1,
);

$n: 0;
$m: 0;

/// @todo change the number 0 to the limit that you want to incresa the values
@while $n <=0 {
    $spacers-vw: map.set($spacers-vw, $n, $spacer-vw * $m);
    $n: $n +1;
    $m: $m +.1;
} 

$max-width: (
    100vh: 100vh,
    100: 100%,
    480: 480px,
    640: 640px,
    1200: 1200px,
    );
    
$spacer: 1rem;
$spacers: (
    auto:auto,
    try: $spacer * 1,
    120: $spacer * 7.5,
    160: $spacer * 10,
);
    
$n: 0;
$m: 0;

/// @todo change the number 0 to the limit that you want to incresa the values
@while $n <=100 {
    $spacers: map.set($spacers, $n, $spacer * $m);
    $n: $n +2;
    $m: $m +.125;
}

$sizing: 1%;
$sizings: (
    auto:auto,
    try: $sizing * 1,
    40: $sizing * 40,
);

$n: 0;
$m: 0;

/// @todo change the number 0 to the limit that you want to incresa the values
@while $n <=0 {
    $sizings: map.set($sizings, $n, $sizing * $m);
    $n: $n +1;
    $m: $m +1;
}

$sizing-vw: 1vw;
$sizings-vw: (
    100: $sizing-vw * 100,
    try: $sizing-vw * 1,
);

$n: 0;
$m: 0;

/// @todo change the number 0 to the limit that you want to incresa the values
@while $n <=0 {
    $sizings-vw: map.set($sizings-vw, $n, $sizing-vw * $m);
    $n: $n +1;
    $m: $m +1;
}

$sizing-vh: 1vh;
$sizings-vh: (
    100: $sizing-vh * 100,
    try: $sizing-vh * 1,
);

$n: 0;
$m: 0;

/// @todo change the number 0 to the limit that you want to incresa the values
@while $n <=0 {
    $sizings-vh: map.set($sizings-vh, $n, $sizing-vh * $m);
    $n: $n +1;
    $m: $m +1;
}

// scss-docs-end spacer-variables-maps
// Position
// scss-docs-start position-map
$position: 1%;
$position-values: (
    try: $position * 1,
    50: $position * 50,
);

$n: 0;
$m: 0;

/// @todo change the number 0 to the limit that you want to incresa the values
@while $n <=0 {
    $position-values: map.set($position-values, $n, $position * $m);
    $n: $n +1;
    $m: $m +1;
}

// scss-docs-start grid-breakpoints
$grid-breakpoints: (
    xs: 0,
    sm: 577px,
    mds: 770px,
    md: 822px,
    slg: 1200px,
    lg: 1282px,
    xl: 1368px,
    xxl: 1442px
);

//Register your fonts and add them to the following map 
//to create the bootstrap classes
$fonts-family: (
    monospace: monospace,
    jejugothic : "JejuGothic"
);

$font-sizes: (
    12: 0.75rem,
    16: 1rem,
    20: 1.25rem,
    24: 1.5rem,
    32: 2rem,
    34: 2.125rem,
    54: 3.375rem,
);

$line-heights: (
    16: 1rem,
);

$offcanvas-horizontal-width: 100vw;

$btn-close-bg: "";

