// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/assets/bootstrap5/_variables.scss, paste it here and edit the value.

@use "sass:map";

//Your custom colors
/* $primary:#89F7F6;
$secondary:#F69A71;
$success:#FEFCFF;
$info:#656476;
$danger:#2C293C; */

/* $primary:       #9a9ab0;//*Santas Gray
$secondary:     #5F71D3;//*Indigo
$success:       #63a96d;//Aqua Forest
$info:          #101c79;//*Deep Koamaru
$warning:       #e19935;//Fire Bush
$danger:        #f44336;//Pomegranate
$accent:        #B36B00;//*INDOCHINE
$light:         #F6F3EF;//*SPRING WOOD
$dark:          #0C134A; */

$primary:       #5ba7c7;//Main brand color - FOUNTAIN BLUE
$secondary:     #877068;//Light accent - SAND DUNE
$success:       #51ad74;//Aqua Forest
$info:          #A44073;//Dark accent - ROUGE
$warning:       #ce9d3c;//Old Gold
$danger:        #f44336;//Pomegranate
$light:         #E0DFDE;//Light shades - ALTO
$dark:          #131885;//Dark shades - GOVERNOR BAY

// scss-docs-start custom-colors-map
$custom-colors: (
    "primary":      $primary,
    "secondary":    $secondary,
    "success":      $success,
    "info":         $info,
    "warning":      $warning,
    "danger":       $danger,
    "light":        $light,
    "dark":         $dark,
);

// scss-docs-end theme-colors-map

$enable-shadows: true;

$top-bottom-inset:inset 0px -20px 15px -3px rgba($dark,0.1),inset 0px 20px 20px -3px rgba($dark,0.1);

$shadows: (    
    'left-offcanvas': inset 0px 0px 50px rgba($dark, 0.5),
    'right-offcanvas': inset -50px 0px 50px 0px rgba($dark, 0.5),
    'y-inset': $top-bottom-inset,
    'bottom': 0px 10px 25px 10px rgba($dark,0.1),
    'regular': 0 .5rem 1rem rgba($dark, .5),
    none: none,
);

$enable-gradients: true;

$gradient-center-primary: linear-gradient(transparent, $primary 50%, transparent);

$gradients: (
    'gradient-center-primary': $gradient-center-primary,
);

$enable-negative-margins: true;

$spacer-vw: 1vw;
$spacers-vw: (
    auto:auto,
    try: $spacer-vw * 1,
);

$n: 0;
$m: 0;

/// @todo change the number 0 to the limit that you want to incresa the values
@while $n <=0 {
    $spacers-vw: map.set($spacers-vw, $n, $spacer-vw * $m);
    $n: $n +1;
    $m: $m +.1;
} 

$max-width: (
    100vh: 100vh,
    100: 100%,
    1200: 1200px,
    640: 640px,
    );
    
$spacer: 1rem;
$spacers: (
    auto:auto,
    try: $spacer * 1,
    120: $spacer * 7.5,
    160: $spacer * 10,
);
    
$n: 0;
$m: 0;

/// @todo change the number 0 to the limit that you want to incresa the values
@while $n <=100 {
    $spacers: map.set($spacers, $n, $spacer * $m);
    $n: $n +2;
    $m: $m +.125;
}

$sizing: 1%;
$sizings: (
    auto:auto,
    try: $sizing * 1,
    40: $sizing * 40,
);

$n: 0;
$m: 0;

/// @todo change the number 0 to the limit that you want to incresa the values
@while $n <=0 {
    $sizings: map.set($sizings, $n, $sizing * $m);
    $n: $n +1;
    $m: $m +1;
}

$sizing-vw: 1vw;
$sizings-vw: (
    100: $sizing-vw * 100,
    try: $sizing-vw * 1,
);

$n: 0;
$m: 0;

/// @todo change the number 0 to the limit that you want to incresa the values
@while $n <=0 {
    $sizings-vw: map.set($sizings-vw, $n, $sizing-vw * $m);
    $n: $n +1;
    $m: $m +1;
}

$sizing-vh: 1vh;
$sizings-vh: (
    100: $sizing-vh * 100,
    try: $sizing-vh * 1,
);

$n: 0;
$m: 0;

/// @todo change the number 0 to the limit that you want to incresa the values
@while $n <=0 {
    $sizings-vh: map.set($sizings-vh, $n, $sizing-vh * $m);
    $n: $n +1;
    $m: $m +1;
}

// scss-docs-end spacer-variables-maps
// Position
// scss-docs-start position-map
$position: 1%;
$position-values: (
    try: $position * 1,
    50: $position * 50,
);

$n: 0;
$m: 0;

/// @todo change the number 0 to the limit that you want to incresa the values
@while $n <=0 {
    $position-values: map.set($position-values, $n, $position * $m);
    $n: $n +1;
    $m: $m +1;
}

// scss-docs-start grid-breakpoints
$grid-breakpoints: (
    xs: 0,
    sm: 577px,
    mds: 770px,
    md: 822px,
    slg: 1200px,
    lg: 1282px,
    xl: 1368px,
    xxl: 1442px
);

//Register your fonts and add them to the following map 
//to create the bootstrap classes
$fonts-family: (
    monospace: monospace,
    jejugothic : "JejuGothic"
);

$font-sizes: (
    12: 0.75rem,
    16: 1rem,
    20: 1.25rem,
    24: 1.5rem,
    32: 2rem,
    34: 2.125rem,
    54: 3.375rem,
);

$line-heights: (
    16: 1rem,
);

$offcanvas-horizontal-width: 100vw;

$btn-close-bg: "";