/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-portafolio-theme-about-block {
  /* Make magic... */
}

[data-block="about-block"] {
  /* Make magic... */
  .row {
    z-index: 100;
  }
  .shape {
    position: absolute;
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
    height: 500px;
    width: 500px;
    left: -5%;
    bottom: 0%;
    animation: popup-bubble 3s ease-in-out infinite;
  }

  .shape-small {
    z-index: 99;
    position: absolute;
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
    height: 200px;
    width: 200px;
    left: 10%;
    bottom: 5%;
    animation: popup-scale 3s ease-in-out infinite;
    @media (max-width: 1200px) {
      right: -10%;
      top: -10%;
      left: initial;
      bottom: initial;
    }
    @media (max-width: 577px) {
      display:none;
    }
  }

  .shape-medium {
    position: absolute;
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
    height: 350px;
    width: 350px;
    right: -2%;
    top: 2%;
    @media (max-width: 577px) {
      height: 300px;
      width: 300px;
      right: -50%;
      top: -10%;
    }
  }

  @keyframes popup-scale {
    0% {
      transform: scale(0);
    }
    25% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    75% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }

  @keyframes popup-bubble {
    0% {
      height: 0;
      width: 0;
    }
    50% {
      height: 500px;
      width: 500px;
    }
    75% {
      height: 250px;
      width: 250px;
    }
    100% {
      height: 0;
      width: 0;
    }
  }
}